.head{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    .profiles{
        display: flex;
        .profile{
            flex: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            .image{
                img{
                    border-radius: 50%;
                    border: 1px solid gray;
                    height: 100px;
                    width: 100px;
                    overflow: hidden;
                    object-fit: cover;
                }
            }
            .follow{
                background-color: #1A89ED;
                padding: 7px 10px;
                cursor: pointer;
                border-radius: 10px;
                color: black;
            }
        }
    }
}