.friendshead{
    display: flex;
    margin-top: 90px;
    .friends{
        flex: 3;
        display: flex;
        justify-content: center;
        div{
            .link{
                text-decoration: none;
            }
        }
    }
}