.post{
    margin-top: 12px;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .username{
            text-decoration: none;
        }
        .edit{
            cursor: pointer;
        }
    }
    .like.yes{
        color: #FF3040;
    }
    .like{
        width: min-content;
        cursor: pointer;
    }
}